apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    k8s-app: cluster-version-operator
  name: cluster-version-operator-tech-preview
  namespace: openshift-cluster-version
  annotations:
    kubernetes.io/description: Alerting rules for when cluster-version operator metrics call for administrator attention.
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    release.openshift.io/feature-set: TechPreviewNoUpgrade
spec:
  groups:
  - name: cluster-version-tech-preview
    rules:
    - alert: RiskApplies
      annotations:
        summary: The cluster has been exposed to the conditional update risk for 10 minutes.
        description: The conditional update risk {{ "{{ $labels.risk }}" }} applies to the cluster, and the cluster update to a version exposed to the risk is not recommended. For more information refer to 'oc adm upgrade'.
        runbook_url: https://github.com/openshift/runbooks/blob/master/alerts/cluster-monitoring-operator/RiskApplies.md
      expr: |
        max by (namespace, name, risk) (cluster_version_risk_conditions{job="cluster-version-operator", name="version", condition="Applies"} == 1)
      for: 10m
      labels:
        severity: warning
